.postToggledClose {
 position:absolute;
 width:90vw;
 top:-1000vh;
}
/* highlight */
.docs{
 border:1px solid #cdcdcd;
}
.docs .control{
 display:flex;
 justify-content:space-between;
 padding:10px 0px;
}
.docs .control p{
 margin:6px 0 0 10px;
 padding:0;
 font-size:1rem;
 font-weight: bold;
 color:#212529;
}
.docs .control div:last-child{
 min-width:230px;
}
.docs pre{
 margin:0;
}
.code-type{
 background:#888;
 color:#fff;
 display:inline-block;
 padding:8px 16px;
 margin-left:10px;
 margin-right:8px;
 font-size:.7rem;
}
.copy-button{
 color:#888;
 font-size:.6rem;
 display:inline-block;
 padding:8px 16px;
 margin-right:20px;
 box-shadow:0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 6px 0px rgba(0,0,0,0.12);
 border:2px solid #666;
 cursor: pointer;
 background-color: #fff;
 transition: all .2s ease
}
.copy-button.success{border-color:#00C851;background-color:#c8e6c9;color:#007E33;}
.copy-button.failed{border-color:#ff4444;background-color:#ffcdd2;color:#CC0000;}
.copy-button:hover{
 box-shadow:0px 2px 5px 0px rgba(0,0,0,0.3), 0px 2px 10px 0px rgba(0,0,0,0.12);
}
@media only screen and (max-width:768px) {
 .docs .control{
     flex-direction: column-reverse;
 }
 .docs .control div:last-child{
     text-align:right;
 }
}